/* color palette SCSS RGB */
$sunflower: rgba(230, 194, 41, 1);
$pumkin: rgba(241, 113, 5, 1);
$spanish-carmine: rgba(209, 17, 73, 1);
$indigo: rgb(16, 3, 37);
$sky-blue: rgba(26, 143, 227, 1);

$poppins: 'Poppins', sans-serif;
$praga: 'Pragati Narrow', sans-serif;